/**********************************************
 * Homepage
 **********************************************/

.home #content {
	padding-bottom: 0;
}

/**********************************************
 * Featured slider on homepage (full width)
 **********************************************/

// No shadows on slider wrapper (best for white bg)
#featured {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
	background: white;
	background-color: white;
}

#featured article header .button {
	display: none;
}

// Slider content bar (only apply to iPad portrait and up)
@media only screen and (min-width: 768px) {

	#featured .slide-content-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}
	#featured article {
		overflow: visible;
		height: 100%;
	}
	#featured article header {
		position: relative;
		background-color: transparent;
		color: black;
		float: right;
		width: 240px;
		padding: 10px 30px 10px 30px;
		text-shadow: none;
		background: #fff;
		height: 100%;
		left: 0;
		top: -10px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 2px solid rgba(0, 0, 0, 0.2);
		border-radius: 2px;
	}
	#featured article header h1,
	#featured article header .entry {
		height: auto;
	}
	#featured article header h1 {
		font-family: Georgia, serif;
		color: black;
		font-size: 2.5em;
		padding: 20px 0;
		line-height: 1.2em;
		margin-bottom: 0;
	}
	#featured article header .entry {
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
		//font-size: 1em;
		line-height: 1.5em;
		color: black;
		margin-bottom: 25px;
	}
	#featured img.button-book-icon { //overwrite
		top: 50%;
		margin-top: -10px;
	}
}

// Slider content bar (only apply to small size devices)
@media only screen and (max-width: 768px) {
	#featured article {
		background: #fff;
	}
	#featured article header {
		text-shadow: none;
		height: auto;
		background-color: transparent;
		color: black;
		text-shadow: none;
		background: #fff;
	}
	#featured article header h1 {
		font-family: Georgia, serif;
		font-size: 2.5em;
		color: black;
		margin-bottom: 15px;
	}
	#featured article header .entry {
		display: none;
	}
	#featured img.button-book-icon { //overwrite
		top: 50%;
		margin-top: -10px;
	}
	#featured .controls-container .flex-control-nav {
		display: none;
	}
}

// Hide the content bar in slider when too tight (between 768px & 1200px)
@media only screen and (min-width: 768px) and (max-width: 1200px) {
	#featured article header .entry {
		display: none;
	}
	#featured article header h1 {
		font-size: 1.8em;
	}
}

.controls-container .flex-control-nav {
	left: 20px;
	right: auto;
}

/**********************************************
 * Featured slider on homepage (full width)
 **********************************************/

.page-template-index-splitslider-php {
	#navigation {
		border-bottom: 0px;
	}
}

.splitslider {
	overflow: hidden;
	zoom: 1;
}

#featured-left {
	width: 49%;
	float: left;
	border: 1px solid #CCC;
	border-radius: 3px;
	margin-bottom: 20px;
	height: 274px;

	#slide-2 {
		display: none;
	}

	.slide {
		position: relative;
	}
		.slide-content-container {
			position: absolute;
			bottom: 30px;
			left: 30px;
			max-width: 400px;
			padding-right: 30px;
		}

			h1 {
				font-family: @typography_family_secondary;
				color: white;
				line-height: 1.2em;
				float: left;
				margin-bottom: 0;
				text-shadow: 0 1px 0px rgba(0, 0, 0, 0.7);
				display: none;
			}

			.button-book {
				margin: 0;
				width: 220px;
			}

			.entry {
				float: left;
				color: white;
				display: none;
			}

			.button-book {
				float: left;
			}

			.slide-image {
			}

		.controls-container .flex-control-nav {
			left: 30px;
			right: 30px;
		}
}

#featured-right {
	width: 49%;
	float: right;
	overflow: hidden;
	border: 1px solid #CCC;
	border-radius: 3px;
	position: relative;
	height: 274px;
	margin-bottom: 20px;
	line-height: 0;

	.button-book {
		position: absolute;
		right: 30px;
		bottom: 30px;
		width: 165px;
		margin: 0;
	}
}

// Slider content bar (only apply to small size devices)
@media only screen and (max-width: 960px) {
	.splitslider {
	}
	#featured-left {
		width: 100%;
		height: auto;
	}
	#featured-right {
		width: 100%;
		height: auto;

		.button-book {
			left: 30px;
			right: auto;
		}
	}
}

 /**********************************************
 * Intro text-line
 **********************************************/

#intro {
	border-top: 1px solid #E1E1E1;
}

#intro h1 {
	margin-bottom: 0;
}

/**********************************************
 * Features area on homepage
 **********************************************/

.home-section#features li h2 a {
	font-weight: normal;
	//font-style: italic;
	font-family: @typography-family-secondary;
	font-size: 1.05em;
}

.home-section#features li p {
	width: 100%;
}

.home-section#features li p img.feature-icon {
	margin-right: 10px;
	margin-bottom: 60px
}

.home-section li h2 {
	margin-bottom: 1em;
}

.home-section header h1 {
	font-size: 1em;
	font-weight: bold;
}

.home-section#features header { display: none; }

/* Only apply to iPad portrait and up */
@media only screen and (min-width: 768px) {

	.home-section.count4  {
		ul  {
			float: left;
			width: 100%;
			li  {
				float: left;
				margin-right: 2%;
				width: 23%;
			}
		}
		&#portfolio  {
			.portfolio-item {
				width: 100%;
				margin: 0!important;
			}
		}
	}
}

@media only screen and (max-width: 768px) {

	#features.home-section li {
		margin-bottom: 0;
	}
}

.home-section#features li p a.feature-readmore {
	display: block;
	padding: 5px 0;

	img {
		margin: 0;
		margin-left: 7px;
		float: none;
	}
}

/**********************************************
 * Alt Blogpost area on homepage (picture with news)
 **********************************************/

.home-section#blog-alt {

	li h2 a {
		font-weight: normal;
		font-style: italic;
		font-family: @typography-family-secondary;
		font-size: 1.1em;
	}

	ul {
		li {
			.thumbnail {
				display: none;
			}
		}
	}
}

/* Only apply to iPad portrait and up */
@media only screen and (min-width: 768px) {

	.home-section#blog-alt {

		header {
			width: 48%;
			margin-right: 4%
		}

		ul {
			width: 48%;

			li {
				width: 46%;
				margin-right: 8%;
			}

			li.last {
				margin-right: 0;
			}
		}
	}

}

/**********************************************
 * Blogpost area on homepage (interactive map)
 **********************************************/

.home-section#blog {
	display: block;
	padding-bottom: 2em;

	#map-wrapper {
		overflow: hidden;
	}

	ul.entries {
		margin-top: 15px;

		li {
			width: 100%;
			position: relative;
			min-height: 110px;
			margin-bottom: 0;

			img {
				position: absolute;
				left: 5px;
			}
			h3 {
				position: absolute;
				left: 30px;

				a {
					font-weight: normal;
					//font-style: italic;
					text-decoration: underline;
					font-family: @typography-family-secondary;
					font-size: 1.1em;
					color: black;
				}
			}
			p {
				position: absolute;
				top: 30px;
				left: 30px;
			}
		}
	}
}

/* Only apply to iPad portrait and up */
@media only screen and (min-width: 768px) {

	.home-section#blog {

		header {
			float: left;
			width: 68%;
			margin-right: 2%;
		}
		ul.entries {
			float: left;
			width: 30%;

			li {
				margin-bottom: 2em;
			}
		}
	}
}

/**********************************************
 * Streamer (mobile app) area on homepage
 **********************************************/

// Streamer
.home-section#streamer {
	margin-bottom: 0;
	border-bottom: none;

	h1 {
		font-weight: normal;
		font-family: @typography-family-secondary;
		line-height: 1.3em;
		font-size: 2.2em;

		.highlight {
			color: @color-contrast;
		}
	}

	.phone {
		.icons {
			margin: 20px 0;
		}
	}
}

/* Only apply to iPad portrait and up */
@media only screen and (min-width: 768px) {

	.home-section#streamer {

		h1 {
			float: left;
			margin-bottom: 1.5em;
		}

		.phone {
			float: right;

			a.iphone-model {
				float: left;
				margin-top: -90px;
			}

			.icons {
				float: left;
				margin: 0 40px;

				a {
					display: block;
					margin: 5px 0;
				}
			}
		}
	}
}