*, body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    color: #555;
}

table.Time td {
    color: #555;
    padding: 10px;
    padding-left: 10px !important;
}

label.Group {
    font-size: 12px;
}

.Calendar > form {
    display: none;
}